@import "../../styles/index";

.MapView {
  background-image: url("../../assets/paper.jpg");
  background-size: 100%;
  background-color: #8f5822;
  flex: 1;
  padding: 3vw 5vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 720px) {
    padding: 15px;
  }

  .map-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 720px) {
      flex-direction: column-reverse;
    }
  }

  .MapsSection {
    max-width: 40vw;

    @media screen and (max-width: 720px) {
      max-width: 100vw;
    }
  }

  .content {
    flex: 2;
    padding-right: 10vw;

    @media screen and (max-width: 720px) {
      padding: 0;
    }
  }

  .sea-image {
    flex: 2;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 80vmin;
      opacity: 0.8;
      border: 1vmin dashed rgba($color: #000000, $alpha: 0.5);
    }

    @media screen and (max-width: 720px) {
      padding-bottom: 30px;
    }
  }
}
