html {
  height: 100%;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  display: flex;
}

#root {
  width: 100%;
  display: flex;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.6;
  text-shadow: 0.1vw 0.1vw 0.1vw #000;

  margin-bottom: 3vmin;

  @media (max-width: 720px) {
    font-size: 1.8rem;
  }
}
